/* --------------------------- body, html, main -------------------------------*/

html {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(242, 248, 252);

  margin: 0;
  padding: 1%;

  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #3a4b53;
  perspective: 1000px;
}

div {
  box-sizing: border-box;
}

.board {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index: 1;
}

.game {
  height: 100%;
  width: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.fast-track {
  transform: rotateY(180deg);
}
/*------------------------ board spaces and center part positions ---------------*/

.space_background {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.horizontal_spaces {
  display: flex;
}

.horizontal_space {
  width: 12.5%;
  height: 16.6%;

  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: bottom;

  border-right: 1px #e5dfd3 solid;
}

.horizontal_first_space {
  border-left: 1px #e5dfd3 solid;
}

.vertical_first_space {
  border-top: 1px #e5dfd3 solid;
}

.corner_spaces {
  width: 14%;
  height: 18.5%;

  border-right: 0px;
}

.middle_flex {
  width: 100%;
  height: 64%;

  display: flex;
  justify-content: space-between;
}

.bottom_flex {
  align-items: flex-end;
}

.top_flex {
  height: 17%;
}

.vertical_spaces {
  width: 12.5%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.vertical_space {
  height: 25%;
  width: 100%;

  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: bottom;

  border-bottom: 1px #e5dfd3 solid;
  text-align: center;
}

.game_center {
  position: absolute;
  top: 16.6%;
  left: 11.8%;

  z-index: 1;

  display: flex;
  padding: 0.5%;
  background-color: whitesmoke;
  background-size: 500px 500px;

  box-shadow: inset 0px 0px 36px 2px rgba(0, 0, 0, 0.77);

  width: 76%;
  height: 68.2%;
}

.round_border {
  overflow: hidden;
  border-radius: 3vh;
}

/* ---------------------- board centre positions---------------------- */

.left_part {
  height: 100%;
  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1%;
}

.middle_part {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right_part {
  width: 30%;

  padding: 1%;
}

.dice_block {
  width: 100%;
  height: 20%;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* --------------------------- board left part ----------------------------- */

.financial_details {
  height: 99%;
  width: 100%;

  background-color: #ffffffcf;
  box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, 0.88);

  border-radius: 2vh;
  padding: 9% 4%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.basic_fs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100%;
}

.basic-fs-value {
  color: #57707d;
  font-weight: lighter;
}

basic_fs {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

basic_fs_heading {
  text-align: center;
  line-height: 3;
  margin-right: 15px;
  font-weight: bold;
}

.blinking {
  animation: blinkingText 0.4s 1;
}

@keyframes blinkingText {
  0% {
    color: #000;
  }
  49% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

#fsBtn {
  background-image: url("../images/financialStatement.png");
}

#ledgerBtn {
  background-image: url("../images/ledger.png");
}

.iconBtn {
  height: 80%;
  width: 72%;
}

.iconBtn:hover {
  transform: scale(1.2);
  transform-origin: center;
}

.iconButtonDiv {
  height: 100%;
  width: 30%;
}

.iconButtonDiv > button {
  border: whitesmoke;
  box-shadow: none;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10%;
}

#bankBtn {
  background-image: url("../images/bank.png");
}

.open-player-details {
  margin: 5% 0 0;
  display: flex;
  justify-content: space-around;
  height: 20%;
  width: 100%;
}

.notifications {
  border: #dfe5e8 solid 1px;
  border-radius: 2vh;
  height: 20%;
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  background-color: #f5f7f8;
}

#notification {
  display: none;
}

.time-notification {
  height: 30%;
}

.time-notification > p {
  margin: 0;
}

.scrollable-notification {
  overflow: scroll;

  height: 70%;
}

.notification {
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid black;
}

/* ----------------------------  board middle part  -----------------------------*/

/* dice */
	
	.overlay_box {
		height: 99%;
		width: 99%;
		visibility: hidden;
	 
		position: absolute;
		background-color: white;
		padding-left: 30px;
		border-radius: 20px;
}

.dice {
  height: 100%;
  width: 25%;

  cursor: pointer;
  display: inherit;
}

.dice-image {
  height: 80px;
}

.dice > p {
  height: 100%;
  width: 100%;
  font-size: xx-large;
}

#dice2 {
  display: none;
}

/* cards */

#card {
  visibility: hidden;
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;

  display: none;
}

.cardDisplay {
  display: flex;
  height: 72%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}

.doodad-card {
  background-color: rgba(241, 248, 250, 1);
}

.market-card {
  background-color: rgba(241, 248, 250, 1);
}

.card-title {
  font-weight: bold;
}

.plain-card {
  border-radius: 9px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);

  color: #3a4b53;

  height: 70%;
  width: 90%;

  padding: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.smallDeal {
  background: rgba(250, 252, 248, 0.7);
}

.plain-card > div > p {
  margin: 0%;
}

.cardDisplayPopup {
  position: absolute;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 10px 13px 5px 0px rgba(0, 0, 0, 0.47);
  border-radius: 1vh;
  padding: 10%;
  z-index: 2;
  height: 70%;
  width: 90%;
  background-color: white;
}

.card-bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#card-title {
  font-weight: 600;
  font-size: large;
}

/* card-options */

.button_div {
  padding: 2%;
  margin: 0px 7%;
  height: 35px;
  width: 120px;
  font-size: 18px;
}

/* ----------------------------  board right part  ------------------------------- */

.game-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 2vh;
  height: 10%;
  border-top-right-radius: 2vh;
}

.game-options > button {
  margin: 0% 2%;
  padding: 2% 1%;
  border-radius: 1.7vh;
  box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, 0.88);
  height: 35px;
  width: 90px;
  font-size: 15px;
}

.all-player-details {
  display: flex;
  flex-direction: column;
  height: 53%;
  background-color: white;
  border-radius: 2vh;
  box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, 0.88);
  margin-bottom: 5%;
  padding: 10% 5%;
}

.progress-bar-div {
  width: 100px;
  height: 10px;
  border-radius: 50px;
  border: 3px solid #becbd2;
}

.current-progress {
  height: 100%;
  background-color: #607d8b;
  border-radius: 50px;
}

.other-player-Btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.activity_log {
  background-color: white;
  border-radius: 2vh;
  overflow-y: scroll;
  height: 30%;
  border-top-right-radius: 2vh;
  box-shadow: 0px 0px 40px -8px rgba(0, 0, 0, 0.88);
  padding: 3%;
}

.activity {
  position: relative;
  display: flex;
  padding-left: 2%;
  border-bottom: dotted #dfe5e8 1px;
  margin: 5% 0 0 2%;
  width: 95%;
  height: fit-content;
}

.activity > p {
  margin: 4%;
  margin: 0;
}

/* ------------------- board space imges ------------------ */

.deals-img {
  background-image: url("/deals.png");
  opacity: 0.7;
}

.baby-img {
  background-image: url("/baby.png");
  opacity: 0.7;
}

.downsize-img {
  background-image: url("/downsize.png");
  opacity: 0.7;
}

.market-img {
  background-image: url("/market.png");
  opacity: 0.7;
}

.charity-img {
  background-image: url("/charity.png");
  opacity: 0.7;
}

.doodad-img {
  background-image: url("/doodad.png");
  opacity: 0.7;
}

.payday-img {
  background-image: url("/payday.png");
  opacity: 0.7;
}

/* -----------------------------  game piece ----------------------------- */

.player1 {
  height: 10%;
  width: 10%;
  background-color: rgb(237, 179, 138);
}

.player2 {
  height: 10%;
  width: 10%;
  background-color: rgb(152, 215, 116);
}

.player3 {
  height: 10%;
  width: 10%;
  background-color: rgb(228, 228, 128);
}

.player4 {
  height: 10%;
  width: 10%;
  background-color: rgb(210, 147, 237);
}

.player5 {
  height: 10%;
  width: 10%;
  background-color: rgb(130, 198, 233);
}

.player6 {
  height: 10%;
  width: 10%;
  background-color: rgb(230, 192, 192);
}

.gamePiece {
  z-index: 1;
  height: 6vh;
  width: 7vh;
  margin-bottom: 5%;
  margin-left: 5%;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 2);
}

/* -------------------------  div  ---------------------------------*/

div {
  box-sizing: border-box;
}

/* --------------------------- button ------------------------------ */

button {
  white-space: nowrap;
  background-color: rgb(112, 146, 165);
  color: white;
  font-size: 18px;
  font-weight: lighter;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 10px;
  margin: 20px;

  height: 35px;
  width: 120px;

  padding: 1% 2%;
  margin: 1% 8%;
}

button:focus {
  outline: none;
}

button:hover {
  color: white;
  background-color: rgb(49, 68, 78);
}

/* ----------------------financial Statement ------------------------------ */

.sub-header {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: rgb(213, 212, 212);
  font-weight: lighter;
  background-color: #3a4b53;
  padding-left: 1em;
  padding-right: 1em;
}

.heading {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: rgb(213, 212, 212);
  font-weight: lighter;
  background-color: #3a4b53;
  border-radius: 20px;
  padding: 1.5%;
  padding-left: 3%;
  padding-right: 3%;
}

.block {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  padding: 3%;
  color: #4d636f;
}

.box {
  width: 40%;
  height: 80%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 5px;
}

td {
  border-bottom: solid 1px #becbd2;
  text-align: left;
  font-weight: bold;
  /* color: #57707D; */
  height: 2em;
}

th {
  text-align: left;
  text-align: center;
  font-weight: lighter;
  color: #3a4b53;
  border-bottom: solid 2px black;
}

.extra-info {
  font-size: 0.8rem;
  font-weight: lighter;
  text-align: center;
  width: 90%;
  color: #435761;
}

.operator {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  margin: -5%;
  color: #9eb1bb;
}

.title {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 1.1em;
  color: #4d636f;
}

.overlay-fs {
  position: absolute;
  top: 0%;
  left: 0%;

  width: fit-content;
  height: 100%;

  visibility: hidden;
  background-color: whitesmoke;

  z-index: 2;
}

.tableData {
  font-weight: lighter;
}

/* -----------------------------  Cash ledger ------------------------------- */

.cash-ledger {
  display: flex;
  width: 676px;
  height: 98%;
  flex-direction: column;
  background-color: whitesmoke;
  text-align: left;
  overflow: scroll;
  padding-left: 4%;
}

thead {
  width: 100%;
}

#cash-ledger-content {
  width: 100%;
}

.amount {
  font-weight: lighter;
  line-height: 3;
  text-align: left;
  width: 20%;
  color: #57707d;
}

.time {
  font-weight: lighter;
  line-height: 3;
  text-align: left;
  width: 15%;
  color: #57707d;
}

.reason {
  font-weight: lighter;
  line-height: 3;
  text-align: left;
  width: 50%;
  color: #57707d;
}

.balance {
  font-weight: lighter;
  line-height: 3;
  text-align: left;
  width: 15%;
  color: #57707d;
}

.cash-ledger-entries {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: left;

  overflow: scroll;
}

.row-content {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

#cash_ledger {
  background: whitesmoke;
  width: 100%;
  padding-top: 2%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 750px;
  height: 100%;
  display: flex;
  padding: 0% 0%;
  z-index: 10;
  visibility: hidden;
  background: whitesmoke;
}

.overlay > header {
  position: absolute;
  top: 2%;
  left: 3%;
  font-size: larger;
  color: green;
}

/* ---------------------------   Popups   -------------------------- */

/* close button */

.close {
  width: 5%;
  height: 5%;

  position: absolute;
  top: 1%;
  right: 3%;

  margin: 0;
  padding: 1px 2px;

  font-size: 30px;
  font-weight: bolder;
  color: #3a4b53;

  background-color: inherit;
}

.close:hover {
  transform: scale(1.2);
  transform-origin: center;

  color: rgb(126, 23, 23);

  background-color: inherit;
}

.popup {
  background-color: lightblue;
  height: 90%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.popup-background {
  display: none;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.top-popup {
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: absolute;
  top: 40%;
  left: 37%;

  width: 25%;
  height: 36%;

  font-size: larger;
  border-radius: 20px;
  padding: 4% 4%;
  background-color: white;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
}

.top-popup > button {
  height: 35px;
  width: 90px;
  align-self: center;
  margin-top: 7%;
  padding: 2% 4%;
}

.auction {
  height: 270px;
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  padding: 40px;
  z-index: 3;

  position: fixed;
  top: 37%;
  left: 36%;

  display: none;
  background-color: white;
  border: 3px solid #becbd2;
  border-radius: 10px;
  box-shadow: 5px 0px 40px -8px rgba(0, 0, 0, 0.5);
}

.buttons-div {
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
}

.buttons-div > div {
  margin-right: 2%;
}

.manage-debt-form {
  height: 270px;
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;
  z-index: 3;

  position: fixed;
  top: 37%;
  left: 36%;

  visibility: hidden;
  background-color: white;
  border-radius: 10px;
}

.form-button {
  height: 40px;
  width: 150px;

  margin: 10px 0px;
}

.debt-input {
  margin: 10px 0px;
  width: 200px;
  height: 35px;
  font-size: 15px;
}

.debt-input {
  width: 150px;
  height: 30px;
}

.select-tag {
  width: 200px;
  height: 35px;
  font-size: 15px;
}

.notify-escape {
  height: 265px;
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  z-index: 3;

  position: fixed;
  top: 37%;
  left: 36%;

  visibility: hidden;
  background-color: white;
  border: 3px solid #becbd2;
  border-radius: 20px;
}

.bankruptcy-form {
  height: 35%;
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: fixed;
  top: 37%;
  left: 36%;
  padding: 3%;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  color: #a22a2a;
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
}

.popup-overlay {
  position: absolute;
  top: 35%;
  left: 35%;
  height: 45%;
  visibility: hidden;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.7);
  z-index: 2;
}

.share-popup {
  height: 85%;
  width: 90%;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 3;
  position: relative;
  background-color: whitesmoke;
  border-radius: 10px;
}

.bankruptedMsg {
  margin: 5px;
}

.textField {
  width: 90%;

  border: none;
  border-bottom: 1px solid rgb(178, 180, 182);

  font-size: 20px;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;

  color: grey;
  background: transparent;
  outline: none;
}

.market-card-div {
  height: 250px;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;

  position: fixed;
  top: 36%;
  left: 42%;

  visibility: hidden;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 10px;
}

/* ------------------------  Others  ------------------------------ */

.container {
  position: absolute;
  top: 0px;
  left: 0px;

  z-index: 1;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(6, 6, 6, 0.75);
}

.statements {
  height: 90%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  z-index: 1;
}

.visible {
  visibility: visible;
}

.hover {
  position: absolute;
  z-index: 2;
  background-color: lightgray;
  visibility: hidden;
  top: 20%;
  right: 0%;
}

.ft-dice-block {
  display: block;
  visibility: hidden;
  height: 26%;
  width: 50%;
}

.ft-card {
  visibility: visible;
  position: absolute;
  height: 56%;
  border: 1px solid black;
  width: 41%;
  top: 31%;
  left: 28%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
