html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  font-family: sans-serif;
  height: 97%;
  width: 99%;
  background-color: #ffe8ca;
}

div {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

button {
  white-space: nowrap;
  border-radius: 0.5vh;
  box-shadow: inset 0 1px 0 #66bfff;
  background-color: #4f93ff;
  border: solid #2b78f4 1px;
  color: white;
  font-size: small;
  cursor: pointer;
  padding: 1%;
  margin: 1%;
}

button:hover {
  color: white;
  background-color: #2b78f4;
}

.horizontal_spaces {
  display: flex;
}

.horizontal_space {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5%;
  height: 16.6%;
  border-right: 1px black solid;
}

.horizontal_first_space {
  border-left: 1px black solid;
}

.vertical_first_space {
  border-top: 1px black solid;
}

.corner_spaces {
  border-right: 0px;
  width: 14%;
  height: 18.5%;
}

.middle_flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64%;
}

.bottom_flex {
  align-items: flex-end;
}

.top_flex {
  height: 17%;
}

.vertical_spaces {
  display: flex;
  flex-direction: column;
  width: 12.5%;
  height: 100%;
}

.game_center {
  position: absolute;
  top: 16.6%;
  left: 12.5%;
  display: flex;
  padding: 0.5%;
  background-color: #ffe8ca;
  width: 75%;
  height: 68.2%;
}

.vertical_space {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;
  border-bottom: 1px black solid;
  text-align: center;
}

.round_border {
  overflow: hidden;
  border: black 1px solid;
  border-radius: 3vh;
}

.space_background {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.deals {
  background-color: #82c255;
  background-image: url("/deals.png");
}

.baby {
  background-color: #631c7b;
  background-image: url("/baby.png");
}

.downsize {
  background-color: #631c7b;
  background-image: url("/downsize.png");
}

.market {
  background-color: #306bd5;
  background-image: url("/market.png");
}

.charity {
  background-color: #631c7b;
  background-image: url("/charity.png");
}

.doodad {
  background-color: #d03620;
  background-image: url("/doodad.png");
}

.payday {
  background-color: #e57738;
  background-image: url("/payday.png");
}

.left_part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1%;
  height: 100%;
  width: 30%;
}

.middle_part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: 100%;
}

.right_part {
  padding: 0 1%;
  width: 30%;
}

.dice_block {
  display: flex;
  position: relative;
  height: 26%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.overlay_box {
  border: black 1px solid;
  height: 99%;
  width: 99%;
  visibility: hidden;
  position: absolute;
  background-color: white;
}

.dice {
  height: 80%;
  width: 45%;
  cursor: pointer;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
  border: black 1px solid;
}

#dice2 {
  display: none;
}

.activity_log {
  border: black 1px solid;
  background-color: white;
  border-bottom-right-radius: 5%;
  overflow-y: scroll;
  height: 72%;
}

.activity {
  position: relative;
  display: flex;
  padding-left: 2%;
  border-bottom: dotted grey 1px;
  margin: 5% 0 0 2%;
  width: 95%;
  height: fit-content;
}

.activity > p {
  margin: 4%;
  word-break: break-all;
  margin: 0;
}

.title {
  background-image: url("/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20%;
}

#card {
  visibility: hidden;
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  display: none;
}

.buttons_div {
  display: flex;
  align-self: flex-end;
}

.buttons_div > button {
  padding: 5%;
  height: fit-content;
  width: fit-content;
}

.cardDisplay {
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72%;
  width: 100%;
  position: relative;
}

.doodad-card {
  background-color: #f3b5aa;
}

.market-card {
  background-color: #7493ef;
}

.card-title {
  font-weight: bold;
}

.plain-card {
  border-radius: 3%;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  width: 80%;
  height: 45%;
}

.financial_details {
  height: 78%;
  width: 100%;
  border-top-left-radius: 5%;
  padding: 4%;
  border: black 1px solid;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.basic_fs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  width: 100%;
}

.basic_fs > p {
  width: 60%;
  height: 13%;
  padding: 1%;
  margin: 0%;
  border: black 1px solid;
}

.player_details {
  width: 100%;
  height: 22%;
}

.player_details > h4 {
  padding: 1%;
  margin: 1%;
  width: 100%;
}

.open_fs > button {
  height: 46%;
  width: 100%;
}

.debt {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 1.4vh;
  height: 20%;
  padding: 4%;
  background-color: white;
  border: black 1px solid;
}

.debt > button {
  height: 50%;
  width: 100%;
}

.open_fs {
  height: 20%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  display: flex;
  padding: 2%;
  visibility: hidden;
}

.overlay > header {
  position: absolute;
  top: 2%;
  left: 3%;
  font-size: larger;
  color: green;
}

#financial_statement {
  background: lightblue;
}

#cash_ledger {
  background: lightcoral;
}

.close {
  position: absolute;
  right: 2%;
  top: 1%;
  padding: 0.5% 1%;
  border-radius: 50%;
}

.vertical_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.half {
  width: 50%;
  height: 100%;
}

.fs_player_details {
  width: 80%;
  height: 65%;
}

.fs_box {
  width: 80%;
  height: 30%;
  overflow: scroll;
}

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c3fcdb;
}

.player1 {
  background-color: red;
}

.player2 {
  background-color: green;
}

.player3 {
  background-color: yellow;
}

.player4 {
  background-color: violet;
}

.player5 {
  background-color: purple;
}

.player6 {
  background-color: saddlebrown;
}

.gamePiece {
  height: 20%;
  width: 20%;
  border: black 1px solid;
}

.visible {
  visibility: visible;
}

.popup {
  background-color: lightblue;
  height: 90%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.statements {
  height: 90%;
  display: flex;
}

.details {
  height: 15%;
  width: 20%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.cardDisplayPopup {
  position: absolute;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 10px 10px 29px 0px rgba(0, 0, 0, 0.75);
  border-radius: 1vh;
  padding: 10%;
  z-index: 2;
  height: 60%;
  width: 90%;
  background-color: white;
}

.hover {
  position: absolute;
  z-index: 2;
  background-color: lightgray;
  visibility: hidden;
  top: 20%;
  right: 0%;
}

.manage-debt-form {
  background-color: cyan;
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 32%;
  left: 42%;
  visibility: hidden;
}

.debt-input {
  margin: 10px 0px;
  width: 70%;
  height: 10%;
}

.notification {
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid black;
}

.plain-card {
  height: 50%;
  width: inherit;
}
